

$color-primary: #ec1b2c;
$color-primary-light: #c47b81;
$color-primary-dark: #cc2041;
$color-secondary: #726238;
$color-secondary-light: #72623864;
$color-base: #fff;
$color-base-dark: #000;
$color-base-black: black;
$color-base-grey: rgb(239, 239, 239);
$color-base-grey-dark: rgb(33, 32, 32);

// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

