/*** COMP - BUTTONS ***/

.btn { 
  &:link,
  &:visited {
  display: inline-block;
  padding: 0.5rem 2rem;
  text-decoration: none;
  border-radius: 7.5rem;
  transition: all .4s;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba($color-base-dark, 0.6);
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0.3rem 0.3rem 1.5rem rgba($color-base-dark, 0.9);
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0.2rem 0.2rem 0.5rem rgba($color-base-dark, 0.9);
  }

  &-white{
    background-color: $color-base;
    color: $color-secondary;
  }

  &-space-top {
    margin-top: 5rem;
  }

  &-gold {
    background-color: $color-secondary;
    color: $color-base;

    &-animation {
      animation-name: btnUp;
      animation-duration: 0.5s;
      animation-timing-function: ease-out;
      animation-delay: 1.25s;
      animation-fill-mode: backwards;
    }
  }
}
